@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Rock+Salt&display=swap');
html, body {
    background-color: #01ab97;
    font-family: 'Patrick Hand',Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
h1, h2, h3 {
    font-family: 'Rock Salt', sans-serif;
}

.blue-theme { background-color: #b9f5ee; }
.green-theme { background-color: #bef5e3;}
.magenta-theme { background-color: #fccff0; }
.purple-theme { background-color: #f1c8fb; }

body {
    nav {
        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            display: inline;
            margin-right: 15px;
        }

        a {
            text-decoration: none;
            color: #333;
            font-weight: bold;
            font-family: 'Rock Salt', sans-serif;

            &:hover {
                color: #0066cc;
            }
        }
    }

    img{
        max-width: 30%;
        height: auto;
    }
}