@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Rock+Salt&display=swap');
html, body {
    background-color: #01ab97;
    font-family: 'Patrick Hand',Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
h1, h2, h3 {
    font-family: 'Rock Salt', sans-serif;
}

.blue-theme { background-color: #b9f5f5; }
.green-theme { background-color: #bef5e3;}
.magenta-theme { background-color: #fccfe8; }
.purple-theme { background-color: #e7c8fb; }

body {
    border-radius: 1rem;
    nav {
        ul {
            list-style-type: none;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
        }

        li {
            display: inline;
            margin-right: 15px;
            margin-bottom: 10px;
            background-color: #f0f8ff;
            padding: 5px;
            border-radius: 1rem;
        }

        a {
            text-decoration: none;
            color: #333;
            font-weight: bold;
            font-family: 'Rock Salt', sans-serif;
            font-size: .90rem;

            &:hover {
                color: #0066cc;
            }
        }
    }

    img{
        max-width: 30%;
        height: auto;
    }
}

.dashboard{
    .user-info{
        background-color: #f0f8ff;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 0 1.5rem;
        padding-bottom: 1.5rem;
        margin-bottom: .5rem;
    }

    .session-debug{
        background-color: #f0f8ff;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 0 1.5rem;
        margin-bottom: 2rem;
        pre{
            background: #cacaca;
            padding: 1rem;
            border-radius: 8px;
        }
    }
}