<%- include('./partials/header.ejs') %>
<main>
    <h1><%= title %></h1>
    <p>HATCHBACKS & COUPES
        2016 Subaru Impreza Hatchback
        Price: $13,200 | Mileage: 98,000
        Features: AWD
        Notes: Great winter car </p>

    <p>2014 Dodge Challenger SXT
        Price: $16,600 | Mileage: 102,700
        Features: Sport mode
        Notes: Fun to drive </p>

    <p>2017 Mazda3 Hatchback Touring
        Price: $14,800 | Mileage: 87,900
        Features: Bose audio, CarPlay
        Notes: Sporty handling </p>

    <p>2015 Ford Fiesta ST
        Price: $12,400 | Mileage: 99,500
        Features: Turbo, Recaro seats
        Notes: Hot hatch favorite </p>

    <p>2016 Volkswagen Golf TSI
        Price: $13,900 | Mileage: 105,200
        Features: Turbo, Heated seats
        Notes: Smooth ride</p>
</main>
<%- include('./partials/footer.ejs') %>